# Environment
.env

# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite
*.sqlite3

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db